<!--================Home Banner Area =================-->
<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="container">
            <div class="banner_content text-center">
                <h2>Tìm kiếm nâng cao</h2>
                <div class="page_link">
                    <a href="/">Trang chủ</a>
                    <a href="/adv-find">Tìm kiếm nâng cao</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->

<!--================Advanced Search Area =================-->
<!-- Search form -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-7">
                </br>
                <h3>Tìm kiếm</h3>
                <form class="row login_form" action="" method="get" id="contactForm" novalidate="novalidate" class="col">
                    <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search"
                           aria-label="Search">
                    <select class="form-control search-slt">
                        <option>Quần</option>
                        <option>Áo thời trang</option>
                    </select>
                    </br></br></br>
                    <button type="submit" value="submit" class="btn submit_btn" style="margin-left:200px;">Tìm kiếm</button>
                </form>
            </div>
        </div>
    </div>
</section>
<!--================Advanced Search Area =================-->


