
<!--================Home Banner Area =================-->
<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="container">
            <div class="banner_content text-center">
                <h2>Xác nhận đơn hàng</h2>
                <div class="page_link">
                    <a href="/">Trang chủ</a>
                    <a href="/confirmation">Xác nhận đơn hàng</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->

<!--================Order Details Area =================-->
<section class="order_details p_120">
    <div class="container">
        <h3 class="title_confirmation">Cảm ơn bạn. Đơn đặt hàng của bạn đã được nhận.</h3>
        <div class="row order_d_inner">
            <div class="col-lg-4">
                <div class="details_item">
                    <h4>Thông tin đơn hàng</h4>
                    <ul class="list">
                        <li>
                            <a href="#">
                                <span>Số đơn hàng</span> : 60235</a>
                        </li>
                        <li>
                            <a href="#">
                                <span>Ngày</span> : 7/7/2018</a>
                        </li>
                        <li>
                            <a href="#">
                                <span>Tổng</span> : 1,100,000 đ</a>
                        </li>
                        <li>
                            <a href="#">
                                <span>Phương thức thanh toán</span> : Thanh toán khi nhận hàng</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="details_item">
                    <h4>Địa chỉ thanh toán</h4>
                    <ul class="list">
                        <li>
                            <a href="#">
                                <span>Đường</span> : Nguyễn Thị Minh Khai</a>
                        </li>
                        <li>
                            <a href="#">
                                <span>Thành phố</span> : Hồ Chí Minh</a>
                        </li>
                        <li>
                            <a href="#">
                                <span>Quốc gia</span> :Việt Nam</a>
                        </li>
                        <li>
                            <a href="#">
                                <span>Mã bưu điện </span> : 70000</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="details_item">
                    <h4>Địa chỉ giao hàng</h4>
                    <ul class="list">
                        <li>
                            <a href="#">
                                <span>Đường</span> : Nguyễn Thị Minh Khai</a>
                        </li>
                        <li>
                            <a href="#">
                                <span>Thành phố</span> : Hồ Chí Minh</a>
                        </li>
                        <li>
                            <a href="#">
                                <span>Quốc gia</span> :Việt Nam</a>
                        </li>
                        <li>
                            <a href="#">
                                <span>Mã bưu điện </span> : 70000</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="order_details_table">
            <h2>Chi tiết hóa đơn</h2>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Sản phẩm</th>
                        <th scope="col">Số lượng</th>
                        <th scope="col">Tổng tiền</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <p>Áo thun trắng</p>
                        </td>
                        <td>
                            <h5>x 02</h5>
                        </td>
                        <td>
                            <h5>250,000 đ</h5>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Áo thun đen</p>
                        </td>
                        <td>
                            <h5>x 01</h5>
                        </td>
                        <td>
                            <p>$150,000 đ</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Áo thun xanh</p>
                        </td>
                        <td>
                            <h5>x 03</h5>
                        </td>
                        <td>
                            <p>600,000 đ</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h4>Tạm thu</h4>
                        </td>
                        <td>
                            <h5></h5>
                        </td>
                        <td>
                            <p>$1,000,000 đ</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h4>Phí vận chuyển</h4>
                        </td>
                        <td>
                            <h5></h5>
                        </td>
                        <td>
                            <p>Địa phương: 100,000 đ</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h4>Tổng tiền:</h4>
                        </td>
                        <td>
                            <h5></h5>
                        </td>
                        <td>
                            <p>1,100,000 đ</p>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<!--================End Order Details Area =================-->

<!--================ Subscription Area ================-->
<section class="subscription-area section_gap">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-title text-center">
                    <h2>Theo dõi Bản tin của chúng tôi</h2>
                    <span>Chúng tôi sẽ không gửi bất kì một thư spam nào</span>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div id="mc_embed_signup">
                    <form target="_blank" novalidate action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&id=92a4423d01"
                          method="get" class="subscription relative">
                        <input type="email" name="EMAIL" placeholder="Địa chỉ Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email address'"
                               required="">
                        <!-- <div style="position: absolute; left: -5000px;">
                            <input type="text" name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="">
                        </div> -->
                        <button type="submit" class="newsl-btn">Bắt đầu</button>
                        <div class="info"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================ End Subscription Area ================-->