<!--================Home Banner Area =================-->
<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="container">
            <div class="banner_content text-center">
                <h2>Chi tiết Blog</h2>
                <div class="page_link">
                    <a href="index.html">Trang chủ</a>
                    <a href="single-blog.html">Chi tiết Blog</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->

<!--================Blog Area =================-->
<section class="blog_area single-post-area p_120">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 posts-list">
                <div class="single-post row">
                    <div class="col-lg-12">
                        <div class="feature-img">
                            <img class="img-fluid" src="img/blog/feature-img1.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-lg-3  col-md-3">
                        <div class="blog_info text-right">
                            <div class="post_tag">
                                <a href="#">Món ăn,</a>
                                <a class="active" href="#">Công nghệ,</a>
                                <a href="#">Khôn khéo,</a>
                                <a href="#">Lối sống</a>
                            </div>
                            <ul class="blog_meta list">
                                <li>
                                    <a href="#">Mark wiens
                                        <i class="lnr lnr-user"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">12 Dec, 2017
                                        <i class="lnr lnr-calendar-full"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">1.2M Lượt xem
                                        <i class="lnr lnr-eye"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">06 Bình luận
                                        <i class="lnr lnr-bubble"></i>
                                    </a>
                                </li>
                            </ul>
                            <ul class="social-links">
                                <li>
                                    <a href="#">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-github"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-behance"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-9 blog_details">
                        <h2>Hai kính mắt của nhà thiên văn là sự thay thế hoàn hảo</h2>
                        <p class="excert">
                            MCSE boot camps có những người ủng hộ và dèm pha. Một vài người không hiểu tại sao lại dùng tiền trên
                            boot camp trong khi bạn có thể sỡ hữu một phần nhỏ những hướng dẫn trên MCSE cho riêng mình.
                        </p>
                        <p>
                            MCSE boot camps có những người ủng hộ và dèm pha. Một vài người không hiểu tại sao lại dùng tiền trên
                            boot camp trong khi bạn có thể sỡ hữu một phần nhỏ những hướng dẫn trên MCSE cho riêng mình.
                            Tuy nhiên, để có khả năng quản lý chính bản thân bạn thật sự hoàn toàn vượt qua áp đặt của quá trình
                            hướng dẫn.

                        </p>
                        <p>
                            MCSE boot camps có những người ủng hộ và dèm pha. Một vài người không hiểu tại sao lại dùng tiền trên
                            boot camp trong khi bạn có thể sỡ hữu một phần nhỏ những hướng dẫn trên MCSE cho riêng mình.
                            Tuy nhiên, để có khả năng quản lý chính bản thân bạn thật sự hoàn toàn vượt qua áp đặt của quá trình
                            hướng dẫn.
                        </p>
                    </div>
                    <div class="col-lg-12">
                        <div class="quotes">
                            MCSE boot camps có những người ủng hộ và dèm pha. Một vài người không hiểu tại sao lại dùng tiền trên
                            boot camp trong khi bạn có thể sỡ hữu một phần nhỏ những hướng dẫn trên MCSE cho riêng mình.
                            Tuy nhiên, để có khả năng quản lý chính bản thân bạn thật sự hoàn toàn vượt qua áp đặt của quá trình
                            hướng dẫn.
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <img class="img-fluid" src="img/blog/post-img1.jpg" alt="">
                            </div>
                            <div class="col-6">
                                <img class="img-fluid" src="img/blog/post-img2.jpg" alt="">
                            </div>
                            <div class="col-lg-12 mt-25">
                                <p>
                                    MCSE boot camps có những người ủng hộ và dèm pha. Một vài người không hiểu tại sao lại dùng tiền trên
                                    boot camp trong khi bạn có thể sỡ hữu một phần nhỏ những hướng dẫn trên MCSE cho riêng mình.
                                    Tuy nhiên, để có khả năng quản lý chính bản thân.
                                </p>
                                <p>
                                    MCSE boot camps có những người ủng hộ và dèm pha. Một vài người không hiểu tại sao lại dùng tiền trên
                                    boot camp trong khi bạn có thể sỡ hữu một phần nhỏ những hướng dẫn trên MCSE cho riêng mình.
                                    Tuy nhiên, để có khả năng quản lý chính bản thân.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="navigation-area">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">
                            <div class="thumb">
                                <a href="#">
                                    <img class="img-fluid" src="img/blog/prev.jpg" alt="">
                                </a>
                            </div>
                            <div class="arrow">
                                <a href="#">
                                    <span class="lnr text-white lnr-arrow-left"></span>
                                </a>
                            </div>
                            <div class="detials">
                                <p>Tin trước</p>
                                <a href="#">
                                    <h4>Không gian cuối cùng</h4>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center">
                            <div class="detials">
                                <p>Tin sau</p>
                                <a href="#">
                                    <h4>Kính thiên văn 101</h4>
                                </a>
                            </div>
                            <div class="arrow">
                                <a href="#">
                                    <span class="lnr text-white lnr-arrow-right"></span>
                                </a>
                            </div>
                            <div class="thumb">
                                <a href="#">
                                    <img class="img-fluid" src="img/blog/next.jpg" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="comments-area">
                    <h4>05 Bình luận</h4>
                    <div class="comment-list">
                        <div class="single-comment justify-content-between d-flex">
                            <div class="user justify-content-between d-flex">
                                <div class="thumb">
                                    <img src="img/blog/c1.jpg" alt="">
                                </div>
                                <div class="desc">
                                    <h5>
                                        <a href="#">Emilly Blunt</a>
                                    </h5>
                                    <p class="date">December 4, 2017 at 3:12 pm </p>
                                    <p class="comment">
                                        Không thể tạm biệt đến dòng kết thúc!
                                    </p>
                                </div>
                            </div>
                            <div class="reply-btn">
                                <a href="" class="btn-reply text-uppercase">Trả lời</a>
                            </div>
                        </div>
                    </div>
                    <div class="comment-list left-padding">
                        <div class="single-comment justify-content-between d-flex">
                            <div class="user justify-content-between d-flex">
                                <div class="thumb">
                                    <img src="img/blog/c2.jpg" alt="">
                                </div>
                                <div class="desc">
                                    <h5>
                                        <a href="#">Elsie Cunningham</a>
                                    </h5>
                                    <p class="date">December 4, 2017 at 3:12 pm </p>
                                    <p class="comment">
                                        Không thể tạm biệt đến dòng kết thúc!
                                    </p>
                                </div>
                            </div>
                            <div class="reply-btn">
                                <a href="" class="btn-reply text-uppercase">Trả lời</a>
                            </div>
                        </div>
                    </div>
                    <div class="comment-list left-padding">
                        <div class="single-comment justify-content-between d-flex">
                            <div class="user justify-content-between d-flex">
                                <div class="thumb">
                                    <img src="img/blog/c3.jpg" alt="">
                                </div>
                                <div class="desc">
                                    <h5>
                                        <a href="#">Annie Stephens</a>
                                    </h5>
                                    <p class="date">December 4, 2017 at 3:12 pm </p>
                                    <p class="comment">
                                        Không thể tạm biệt đến dòng kết thúc!
                                    </p>
                                </div>
                            </div>
                            <div class="reply-btn">
                                <a href="" class="btn-reply text-uppercase">Trả lời</a>
                            </div>
                        </div>
                    </div>
                    <div class="comment-list">
                        <div class="single-comment justify-content-between d-flex">
                            <div class="user justify-content-between d-flex">
                                <div class="thumb">
                                    <img src="img/blog/c4.jpg" alt="">
                                </div>
                                <div class="desc">
                                    <h5>
                                        <a href="#">Maria Luna</a>
                                    </h5>
                                    <p class="date">December 4, 2017 at 3:12 pm </p>
                                    <p class="comment">
                                        Không thể tạm biệt đến dòng kết thúc!
                                    </p>
                                </div>
                            </div>
                            <div class="reply-btn">
                                <a href="" class="btn-reply text-uppercase">Trả lời</a>
                            </div>
                        </div>
                    </div>
                    <div class="comment-list">
                        <div class="single-comment justify-content-between d-flex">
                            <div class="user justify-content-between d-flex">
                                <div class="thumb">
                                    <img src="img/blog/c5.jpg" alt="">
                                </div>
                                <div class="desc">
                                    <h5>
                                        <a href="#">Ina Hayes</a>
                                    </h5>
                                    <p class="date">December 4, 2017 at 3:12 pm </p>
                                    <p class="comment">
                                        Không thể tạm biệt đến dòng kết thúc!
                                    </p>
                                </div>
                            </div>
                            <div class="reply-btn">
                                <a href="" class="btn-reply text-uppercase">Trả lời</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="comment-form">
                    <h4>Để lại câu trả </h4>
                    <form>
                        <div class="form-group form-inline">
                            <div class="form-group col-lg-6 col-md-6 name">
                                <input type="text" class="form-control" id="name" placeholder="Nhập tên" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Nhập tên'">
                            </div>
                            <div class="form-group col-lg-6 col-md-6 email">
                                <input type="email" class="form-control" id="email" placeholder="Nhập email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Nhập email'">
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="subject" placeholder="Tiêu đề" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Tiêu đề'">
                        </div>
                        <div class="form-group">
                                <textarea class="form-control mb-10" rows="5" name="message" placeholder="Nội dung" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Nội dung'"
                                          required=""></textarea>
                        </div>
                        <a href="#" class="primary-btn submit_btn">Đăng</a>
                    </form>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog_right_sidebar">
                    <aside class="single_sidebar_widget search_widget">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Tìm thư">
                            <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">
                                        <i class="lnr lnr-magnifier"></i>
                                    </button>
                                </span>
                        </div>
                        <!-- /input-group -->
                        <div class="br"></div>
                    </aside>
                    <aside class="single_sidebar_widget author_widget">
                        <img class="author_img rounded-circle" src="img/blog/author.png" alt="">
                        <h4>Charlie Barber</h4>
                        <p>Senior blog writer</p>
                        <div class="social_icon">
                            <a href="#">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-github"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-behance"></i>
                            </a>
                        </div>
                        <p>MCSE boot camps có những người ủng hộ và dèm pha. Một vài người không hiểu tại sao lại dùng tiền trên
                            boot camp trong khi bạn có thể sỡ hữu một phần nhỏ những hướng dẫn trên MCSE cho riêng mình.
                        </p>
                        <div class="br"></div>
                    </aside>
                    <aside class="single_sidebar_widget popular_post_widget">
                        <h3 class="widget_title">Thư nổi bật</h3>
                        <div class="media post_item">
                            <img src="img/blog/popular-post/post1.jpg" alt="post">
                            <div class="media-body">
                                <a href="blog-details.html">
                                    <h3>Không gian của ranh giới</h3>
                                </a>
                                <p>02 tiếng trước</p>
                            </div>
                        </div>
                        <div class="media post_item">
                            <img src="img/blog/popular-post/post2.jpg" alt="post">
                            <div class="media-body">
                                <a href="blog-details.html">
                                    <h3>Điếu ống tuyệt vời</h3>
                                </a>
                                <p>02 tiếng trước</p>
                            </div>
                        </div>
                        <div class="media post_item">
                            <img src="img/blog/popular-post/post3.jpg" alt="post">
                            <div class="media-body">
                                <a href="blog-details.html">
                                    <h3>Thiên văn học hay thuật chiêm tinh</h3>
                                </a>
                                <p>03 tiếng trước</p>
                            </div>
                        </div>
                        <div class="media post_item">
                            <img src="img/blog/popular-post/post4.jpg" alt="post">
                            <div class="media-body">
                                <a href="blog-details.html">
                                    <h3>Tiểu hành tinh</h3>
                                </a>
                                <p>01 tiếng trước</p>
                            </div>
                        </div>
                        <div class="br"></div>
                    </aside>
                    <aside class="single_sidebar_widget ads_widget">
                        <a href="#">
                            <img class="img-fluid" src="img/blog/add.jpg" alt="">
                        </a>
                        <div class="br"></div>
                    </aside>
                    <aside class="single_sidebar_widget post_category_widget">
                        <h4 class="widget_title">Thể loại</h4>
                        <ul class="list cat-list">
                            <li>
                                <a href="#" class="d-flex justify-content-between">
                                    <p>Công nghệ</p>
                                    <p>37</p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="d-flex justify-content-between">
                                    <p>Lối sống</p>
                                    <p>24</p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="d-flex justify-content-between">
                                    <p>Thời trang</p>
                                    <p>59</p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="d-flex justify-content-between">
                                    <p>Nghệ thuật</p>
                                    <p>29</p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="d-flex justify-content-between">
                                    <p>Món ăn</p>
                                    <p>15</p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="d-flex justify-content-between">
                                    <p>Kiến trúc</p>
                                    <p>09</p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="d-flex justify-content-between">
                                    <p>Thám hiểm</p>
                                    <p>44</p>
                                </a>
                            </li>
                        </ul>
                        <div class="br"></div>
                    </aside>
                    <aside class="single-sidebar-widget newsletter_widget">
                        <h4 class="widget_title">Thư ngõ</h4>
                        <p>
                            Tôi tập trung vào các danh mục và chức năng mà chúng ta trải nghiệm không hề suy nghĩ trong cuộc sống.
                        </p>
                        <div class="form-group d-flex flex-row">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fa fa-envelope" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Nhập email" onfocus="this.placeholder = ''"
                                       onblur="this.placeholder = 'Nhập email'">
                            </div>
                            <a href="#" class="bbtns">Đăng kí</a>
                        </div>
                        <p class="text-bottom">Bạn có thể huỷ đăng kí bất cứ lúc nào</p>
                        <div class="br"></div>
                    </aside>
                    <aside class="single-sidebar-widget tag_cloud_widget">
                        <h4 class="widget_title">Nổi bật</h4>
                        <ul class="list">
                            <li>
                                <a href="#">Công nghệ</a>
                            </li>
                            <li>
                                <a href="#">Thời trang</a>
                            </li>
                            <li>
                                <a href="#">Kiến trúc</a>
                            </li>
                            <li>
                                <a href="#">Thời trang</a>
                            </li>
                            <li>
                                <a href="#">Thức ăn</a>
                            </li>
                            <li>
                                <a href="#">Công nghệ</a>
                            </li>
                            <li>
                                <a href="#">Lối sống</a>
                            </li>
                            <li>
                                <a href="#">Nghệ thuật</a>
                            </li>
                            <li>
                                <a href="#">Thám hiểm</a>
                            </li>
                            <li>
                                <a href="#">Món ăn</a>
                            </li>
                            <li>
                                <a href="#">Lối sống</a>
                            </li>
                            <li>
                                <a href="#">Thám hiểm</a>
                            </li>
                        </ul>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================Blog Area =================-->
