<!--================Home Banner Area =================-->
<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="container">
            <div class="banner_content text-center">
                <h2>Quá trình đặt hàng</h2>
                <div class="page_link">
                    <a href="index.html">Trang chủ</a>
                    <a href="tracking.html">Quá trình đặt hàng</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->

<!--================Tracking Box Area =================-->
<section class="tracking_box_area p_120">
    <div class="container">
        <div class="tracking_box_inner">
            <p>Để đánh đấu đơn đặt hàng vui lòng điền ID của đơn đặt hàng và nhấn nút "Track". Nó hiện ra cho bạn hoá đơn và sự xác nhận trong
            email khi bạn nhận đơn hàng</p>
            <form class="row tracking_form" action="#" method="post" novalidate="novalidate">
                <div class="col-md-12 form-group">
                    <input type="text" class="form-control" id="order" name="order" placeholder="ID đơn hàng">
                </div>
                <div class="col-md-12 form-group">
                    <input type="email" class="form-control" id="email" name="email" placeholder="Điền email">
                </div>
                <div class="col-md-12 form-group">
                    <button type="submit" value="submit" class="btn submit_btn">Đánh dấu</button>
                </div>
            </form>
        </div>
    </div>
</section>
<!--================End Tracking Box Area =================-->
