<!-- ============================================================== -->
<!-- wrapper  -->
<!-- ============================================================== -->
<div class="dashboard-wrapper">
    <div class="dashboard-finance">
        <div class="container-fluid dashboard-content">
            <!-- ============================================================== -->
            <!-- pageheader  -->
            <!-- ============================================================== -->
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="page-header">
                        <h3 class="mb-2">Tài chính</h3>
                        <p class="pageheader-text">Proin placerat ante duiullam scelerisque a velit ac porta, fusce sit amet vestibulum mi. Morbi lobortis pulvinar quam.</p>
                        <div class="page-breadcrumb">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Tài chính</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- end pageheader  -->
            <!-- ============================================================== -->
            <div class="row">
                <div class="offset-xl-10 col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12">
                    <form>
                        <div class="form-group">
                            <input class="form-control" type="text" name="daterange" value="01/01/2018 - 01/15/2018" />
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="card">
                        <h5 class="card-header">Tổng doanh thu</h5>
                        <div class="card-body">
                            <div class="metric-value d-inline-block">
                                <h1 class="mb-1">$5,79,000</h1>
                            </div>
                            <div class="metric-label d-inline-block float-right text-success font-weight-bold">
                                <span class="icon-circle-small icon-box-xs text-success bg-success-light"><i class="fa fa-fw fa-arrow-up"></i></span><span class="ml-1">25%</span>
                            </div>
                        </div>
                        <div class="card-body bg-light p-t-40 p-b-40">
                            <div id="sparkline-revenue"></div>
                        </div>
                        <div class="card-footer text-center bg-white">
                            <a href="#" class="card-link">Chi tiết</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="card">
                        <h5 class="card-header">Tổng tiêu dùng</h5>
                        <div class="card-body">
                            <div class="metric-value d-inline-block">
                                <h1 class="mb-1">$1,79,000</h1>
                            </div>
                            <div class="metric-label d-inline-block float-right text-secondary font-weight-bold">
                                <span class="icon-circle-small icon-box-xs text-danger bg-danger-light"><i class="fa fa-fw fa-arrow-down"></i></span><span class="ml-1">15%</span>
                            </div>
                        </div>
                        <div class="card-body text-center bg-light p-t-40 p-b-40">
                            <div id="sparkline-revenue2"></div>
                        </div>
                        <div class="card-footer text-center bg-white">
                            <a href="#" class="card-link">Chi tiết</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="card">
                        <h5 class="card-header">Tiền mặt</h5>
                        <div class="card-body">
                            <div class="metric-value d-inline-block">
                                <h1 class="mb-1">$79,000</h1>
                            </div>
                            <div class="metric-label d-inline-block float-right text-success font-weight-bold">
                                <span class="icon-circle-small icon-box-xs text-success bg-success-light"><i class="fa fa-fw fa-arrow-up"></i></span><span class="ml-1">25%</span>
                            </div>
                        </div>
                        <div class="card-body bg-light p-t-40 p-b-40">
                            <div id="sparkline-revenue3"></div>
                        </div>
                        <div class="card-footer text-center bg-white">
                            <a href="#" class="card-link">Chi tiết</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="card">
                        <h5 class="card-header">Lãi</h5>
                        <div class="card-body">
                            <div class="metric-value d-inline-block">
                                <h1 class="mb-1">$92,000</h1>
                            </div>
                            <div class="metric-label d-inline-block float-right text-success font-weight-bold">
                                <span class="icon-circle-small icon-box-xs text-success bg-success-light"><i class="fa fa-fw fa-arrow-up"></i></span> <span class="ml-1">25%</span>
                            </div>
                        </div>
                        <div class="card-body bg-light p-b-40 p-t-40">
                            <div id="sparkline-revenue4"></div>
                        </div>
                        <div class="card-footer text-center bg-white">
                            <a href="#" class="card-link">Chi tiết</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- end revenue year  -->
            <!-- ============================================================== -->
            <div class="row">
                <!-- ============================================================== -->
                <!-- ap and ar balance  -->
                <!-- ============================================================== -->
                <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="card">
                        <h5 class="card-header">Cán cân giữa AP và AR
                        </h5>
                        <div class="card-body">
                            <canvas id="chartjs_balance_bar"></canvas>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- end ap and ar balance  -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- gross profit  -->
                <!-- ============================================================== -->
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="card">
                        <h5 class="card-header">% của ngân sách thu nhập</h5>
                        <div class="card-body">
                            <div id="morris_gross" style="height: 272px;"></div>
                        </div>
                        <div class="card-footer bg-white">
                            <p>Ngân sách<span class="float-right text-dark">12,000.00</span></p>
                            <p>Thu chi<span class="float-right text-dark">-2300.00 <span class="ml-2 text-secondary"><i class="fas fa-caret-up mr-1"></i>25%</span></span>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- end gross profit  -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- profit margin  -->
                <!-- ============================================================== -->
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="card">
                        <h5 class="card-header">% của ngân sách tiêu dùng</h5>
                        <div class="card-body">
                            <div id="morris_profit" style="height: 272px;"></div>
                        </div>
                        <div class="card-footer bg-white">
                            <p>Ngân sách <span class="float-right text-dark">3500.00</span></p>
                            <p>Thu chi<span class="float-right text-dark">230.00 <span class="ml-2 text-secondary"><i class="fas fa-caret-up mr-1"></i>25%</span></span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- end profit margin -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- earnings before interest tax  -->
            <!-- ============================================================== -->
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="card">
                        <h5 class="card-header">EBIT (Thu được trước thuế và chi trả)</h5>
                        <div class="card-body">
                            <div id="ebit_morris"></div>
                            <div class="text-center">
                                        <span class="legend-item mr-3">
                                                <span class="fa-xs text-secondary mr-1 legend-tile"><i class="fa fa-fw fa-square-full"></i></span>
                                        <span class="legend-text">EBIT (Thu được trước thuế và chi trả)</span>
                                        </span>
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- end earnings before interest tax  -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- cost of goods  -->
                <!-- ============================================================== -->
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="card">
                        <h5 class="card-header">Giá sản phẩm/dịch vụ<span class="float-right">1 Jan 2018 to 31 Dec 2018</span></h5>
                        <div class="card-body">
                            <div id="goodservice"></div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- end cost of goods  -->
                <!-- ============================================================== -->
            </div>
            <div class="row">
                <!-- ============================================================== -->
                <!-- overdue invoices  -->
                <!-- ============================================================== -->
                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="card">
                        <h5 class="card-header">Hoá đơn không rõ ràng và quá thời </h5>
                        <div class="card-body">
                            <div class="ct-chart-invoice ct-golden-section"></div>
                            <div class="text-center m-t-40">
                                        <span class="legend-item mr-3">
                                                    <span class="fa-xs text-primary mr-1 legend-tile"><i class="fa fa-fw fa-square-full "></i></span><span class="legend-text">Không rõ ràng</span>
                                        </span>
                                <span class="legend-item mr-3">
                                                    <span class="fa-xs text-secondary mr-1 legend-tile"><i class="fa fa-fw fa-square-full "></i></span><span class="legend-text">Quá thời hạn</span>
                                        </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- end overdue invoices  -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- disputed invoices  -->
                <!-- ============================================================== -->
                <div class="col-xl-5 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="card">
                        <h5 class="card-header">Hoá đơn không rõ ràng</h5>
                        <div class="card-body">
                            <div class="ct-chart-line-invoice ct-golden-section"></div>
                            <div class="text-center m-t-10">
                                        <span class="legend-item mr-3">
                                                <span class="fa-xs text-primary mr-1 legend-tile"><i class="fa fa-fw fa-square-full"></i></span>
                                        <span class="legend-text">Không rõ ràng</span>
                                        </span>
                                <span class="legend-item mr-3">
                                                <span class="fa-xs text-secondary mr-1 legend-tile"><i class="fa fa-fw fa-square-full"></i></span>
                                        <span class="legend-text">Trung bình</span>
                                        </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- end disputed invoices  -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- account payable age  -->
                <!-- ============================================================== -->
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="card">
                        <h5 class="card-header">Tài khoản trả theo tuổi</h5>
                        <div class="card-body">
                            <div id="account" style="height: 300px;"></div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- end account payable age  -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- working capital  -->
                <!-- ============================================================== -->
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="card">
                        <h5 class="card-header">Làm việc với vốn <span class="float-right">1 Jan 2018 to 31 Dec 2018</span></h5>
                        <div class="card-body">
                            <div id="capital"></div>
                            <div class="text-center m-t-10">
                                        <span class="legend-item mr-3">
                                                <span class="fa-xs text-secondary mr-1 legend-tile"><i class="fa fa-fw fa-square-full"></i></span>
                                        <span class="legend-text">Làm việc với vốn</span>
                                        </span>
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- end working capital  -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- inventory turnover  -->
                <!-- ============================================================== -->
                <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="card">
                        <h5 class="card-header">Kiểm kê doanh thu</h5>
                        <div class="card-body">
                            <div class="ct-chart-inventory ct-golden-section"></div>
                            <div class="text-center m-t-10">
                                        <span class="legend-item mr-3">
                                                <span class="fa-xs text-primary mr-1 legend-tile"><i class="fa fa-fw fa-square-full"></i></span>
                                        <span class="legend-text">Doanh thu</span>
                                        </span>
                                <span class="legend-item mr-3">
                                                <span class="fa-xs text-secondary mr-1 legend-tile"><i class="fa fa-fw fa-square-full"></i></span>
                                        <span class="legend-text">Mục tiêu</span>
                                        </span>
                                <span class="legend-item mr-3">
                                                <span class="fa-xs text-info mr-1 legend-tile"><i class="fa fa-fw fa-square-full"></i></span>
                                        <span class="legend-text">Đạt được</span>
                                        </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- end inventory turnover -->
            <!-- ============================================================== -->
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
    <div class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    Copyright © 2018 Concept. All rights reserved. Dashboard by <a href="https://colorlib.com/wp/">Colorlib</a>.
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="text-md-right footer-links d-none d-sm-block">
                        <a href="javascript: void(0);">About</a>
                        <a href="javascript: void(0);">Support</a>
                        <a href="javascript: void(0);">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- end footer -->
    <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- end wrapper  -->
<!-- ============================================================== -->